@media screen and (max-width:1280px){
  .center{box-sizing:border-box; padding:0 15px;}
}

@media screen and (max-width:1024px){
  .eachPort .port{width:33.33%;}

  .main.detail .detailTit{padding-left:0; border-left:0;}
  .main.detail .titleBox b{float:none; width:100%; text-align:center;}
  .main.detail .titleBox textarea{float:none; width:100%;}
}

@media screen and (max-width:700px){
  .main .totalProgress{flex-direction:column;}
  .main .totalProgress .totalTit{width:100%;}
  .main .totalProgress .totalTit h2{font-size:20px;}
  .main .totalProgress .totalBar{width:100%; padding:10px 0;}
  .eachPort .port{width:50%;}

  .inputBox{padding:20px 0; width:90%;}
}

@media screen and (max-width:550px){
  .workList p span{font-size:12px;}
  .update .btn{font-size:12px; padding:8px 40px;}

  .processTitle h1{font-size:20px;}
  .inputBox>div>textarea{font-size:12px;}

  .number span.numCount{display:none;}
  .number span.move{width:40px;}
  .mNum{display:inline-block;}
}

@media screen and (max-width:400px){
  header h2{font-size:16px;}
  header .home{left:3%;}
  header .home i{font-size:20px;}
  .main{margin:15px 0;}
  .portfolios{margin:25px 0 10px 0;}
  .eachPort .port p{padding:5px 0;}
  .eachPort .port h3{font-size:12px;}
  .main .totalProgress .totalTit h2{font-size:16px;}
  .title{font-size:16px;}
  .eachPort .update button{font-size:12px; padding:8px 20px;}
  .workList p.workContents span.date em{display:none;}

  .main.detail .detailTit{font-size:15px;}
}